<div th:fragment="information" xmlns:th="http://www.thymeleaf.org" class="row">
  <!--/*@thymesVar id="game" type="se.olander.categories.dto.GameModel"*/-->
  <!--/*@thymesVar id="user" type="se.olander.categories.jooq.categories.tables.pojos.User"*/-->
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Game Information <small>The information of the game</small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <section class="content invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12 invoice-header">
              <h1>
                <i class="fa fa-gamepad"></i>
                <span th:text="${game.category.name}" ></span>
              </h1>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.col -->
          <div class="col-xs-12">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                <tr>
                  <th style="width:50%">Name:</th>
                  <td><span th:text="${game.game.name}"/></td>
                </tr>
                <tr>
                  <th style="width:50%">Game Id:</th>
                  <td><span th:text="${game.game.id}"/></td>
                </tr>
                <tr>
                  <th style="width:50%">Category:</th>
                  <td><span th:text="${game.category.name}"/></td>
                </tr>
                <tr>
                  <th style="width:50%">Admin:</th>
                  <td><span th:text="${game.getAdmin().name}"/></td>
                </tr>
                <tr>
                  <th style="width:50%">Start Time:</th>
                  <td><span th:text="${game.game.timeStart}"/></td>
                </tr>
                <tr>
                  <th style="width:50%">End Time:</th>
                  <td><span th:text="${game.game.timeEnd}"/></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.col -->

          <!-- this row will not appear when printing -->
          <th:block th:if="${game.canStart(user.id)}">
            <div class="row no-print">
              <div class="col-xs-12">
                <button id="start_game_button" type="button" class="btn btn-success pull-right" style="margin-right: 5px;"><i class="fa fa-flag"></i> Start Game</button>
                <script th:inline="javascript">
                  $('#start_game_button').click(function () {
                    $(this).prop('disabled', true)
                    $.ajax({
                      type: 'POST',
                      url: '/rest/games/' + gameId + '/start',
                      error: console.log,
                    });
                  })
                </script>
              </div>
            </div>
          </th:block>
          <th:block th:if="${game.canJoin(user.id)}">
            <form class="form-horizontal form-label-left" method="post" action="/joinGame">
              <input type="hidden" name="gameId" th:value="${game.game.id}" required="required" />
              <div class="form-group">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-success pull-right">Join</button>
                </div>
              </div>
            </form>
          </th:block>
        </section>
      </div>
    </div>
  </div>
</div>
